<div class="container">
  <h1 class="d-flex align-items-center justify-content-center mt-5 p-5">ご注文ありがとうございました！</h1>
  <div class="row col-8 mx-auto">
    <%= image_tag('nagano_cake_complete.jpg', size: '600x400') %>
  </div>
</div>